{% extends "base.html" %}
{% block title %}
    Выбор двигателя
{% endblock %}
{% block header %}
    Выбор двигателя
{% endblock %}
{% block content %}
    <h3>Выбираем двигатель для рассчитаннй мощности</h3>
    <p>Мощность - {{ power }}</p>
    {% from "macros.html" import render_field %}
    <form method="POST" action="." class="pure-form pure-form-aligned">
        <fieldset>
            {{ form.hidden_tag() }}
            <table class="pure-table">
                <thead>
                <tr>
                    <td>Наименование</td>
                    <td>Номинальная мощность</td>
                    <td>Номинальный момент</td>
                    <td>Пусковой момент</td>
                    <td>Номинальная угловая скорость</td>
                    <td>Статиеский момент потерь</td>
                    <td>Момент инерции ротора</td>
                    <td>жесткость мех. хар.-ки</td>
                </tr>
                </thead>
                <tbody>
                    {% for subfield in form.engine %}

                        <tr>
                            <td>

                                    {{ subfield }}</td>
                            <td>{{ engines[subfield.object_data].nominal_power }}</td>
                            <td>{{ engines[subfield.object_data].nominal_momentum }}</td>
                            <td>{{ engines[subfield.object_data].start_momentum }}</td>
                            <td>{{ engines[subfield.object_data].nominal_angular_velocity }}</td>
                            <td>{{ engines[subfield.object_data].static_loosing_momentum }}</td>
                            <td>{{ engines[subfield.object_data].characteristical_hardness }}</td>
                            <td>{{ engines[subfield.object_data].momentum_overload_coefficient }}</td>
                            <td><a href="{{ url_for('.edit_engine', idx = subfield.object_data) }}" >Редактировать</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br/>
            <input type="submit" value="Рассчитать" class="pure-button pure-button-primary">
        </fieldset>
    </form>
    <a href="{{ url_for('.add_engine') }}">Добавить двигатель</a>

{% endblock %}