{% extends "base.html" %}
{% block title %}
    Выбор двигателя
{% endblock %}
{% block header %}
    Выбор двигателя
{% endblock %}
{% block content %}
<h3>Выбираем двигатель для рассчитаннй мощности</h3>
<p>Мощность - {{ power }}</p>
{% from "macros.html" import render_field %}
<form method="POST" action="." class="form">
    {{ form.hidden_tag() }}
    {% for subfield in form.radio %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
    {% endfor %}
    <br/>
    <input type="submit" value="Рассчитать" class="button green">
</form>
    <a href="{{ url_for('.initials') }}">Добавить двигатель</a>

{% endblock %}