<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
    <title>{% block title %}{% endblock %}</title>
    <style>
        body {
            margin: 0 auto;
            padding: 0 2em;
            max-width: 800px;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>

    <div class="pure-g">
        <h1 id="header" class="pure-u-1-1">{% block header %}
        {% endblock %}
            <h1 id="error">{{ error_message }}</h1>
        </div>
        <div id="content" class="pure-u-1-1">{% block content %}{% endblock %}</div>
    </div>
</body>
</html>